.order-panel {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.order-sidebar {
  margin-right: 50px
}

.amount {
  display: inline-flex;
  padding: 0px 10px;
  height: 100%;
}
